html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.our-projects__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header__container, .our-projects__container, .footer__container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .header__container, .our-projects__container, .footer__container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header__container, .our-projects__container, .footer__container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container, .our-projects__container, .footer__container {
    max-width: 1200px;
  }
}

.logo, .navigation__link, .contacts__link, .project-card__link {
  text-decoration: none;
}

.navigation__list, .contacts__list, .radio-buttons, .projects, .address__list, .social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  top: 0;
  width: 100%;
  outline: #ececec solid 1px;
  background-color: #ffffff;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .header__mobile {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .header__button {
    background: transparent;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
  }
  .header__button:hover {
    fill: #2196f3;
  }
  .header__button:focus {
    fill: #2196f3;
  }
  .header_menu.is-open {
    display: block;
  }
  .header__menu-icon-close {
    display: none;
  }
  .header__button.is-open .header__menu-icon-close {
    display: block;
  }
  .header__menu-icon {
    display: block;
  }
  .header__button.is-open .header__menu-icon {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .header__button {
    display: none;
  }
  .header__container {
    display: flex;
    align-items: baseline;
  }
  .header_menu {
    display: flex;
    align-items: center;
  }
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.logo {
  color: #2196f3;
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo__studio--black {
  color: #000000;
}

.logo__studio--white {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.193;
  }
}

.navigation__list {
  display: flex;
}

.navigation__item--active {
  position: relative;
}

@media screen and (max-width: 767px) {
  .navigation__item--active {
    padding-bottom: 8px;
  }
}

.navigation__item--active::after {
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 4px;
  transform: translateY(100%);
  background-color: #2196f3;
  border-radius: 3px;
}

.navigation__link {
  display: block;
  padding: 0px 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .navigation__list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 767px) {
  .navigation {
    margin-right: 84px;
  }
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__link {
    font-size: 14px;
    line-height: 1.142;
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .navigation__item--active::after {
    bottom: 3px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-right: 305px;
  }
}

.contacts__item {
  display: flex;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contacts__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contacts__item {
    display: flex;
    justify-content: center;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 16px;
  }
  .contacts__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 767px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.166;
  }
  .contacts__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    display: flex;
  }
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
  .header_menu {
    align-items: baseline;
  }
  .contacts__link {
    font-size: 14px;
    line-height: 1.142;
  }
}

.our-projects {
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-projects__radio-buttons {
  margin-bottom: 40px;
}

.radio-buttons {
  flex-wrap: wrap;
  display: flex;
}

.radio-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.radio-buttons__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  background-color: #f5f4fa;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.radio-buttons__button:hover, .radio-buttons__button:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 767px) {
  .radio-buttons__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .our-projects__radio-buttons {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-projects__radio-buttons {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .projects__project-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__project-card:nth-child(odd) {
    margin-right: 30px;
  }
  .projects__project-card:not(:nth-child(-n + 2)) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__project-card:not(:nth-child(-n + 3)) {
    margin-top: 30px;
  }
  .projects__project-card:not(:nth-child(3n + 3)) {
    margin-right: 30px;
  }
}

.project-card {
  list-style: none;
}

.project-card:hover, .project-card:focus-within {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.project-card__link {
  outline: none;
}

.project-card__thumb {
  position: relative;
  overflow: hidden;
}

.project-card__img {
  display: block;
  width: 100%;
}

.project-card__description {
  margin: 0;
  padding: 77px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card__link:hover .project-card__description,
.project-card__link:focus .project-card__description {
  transform: translateY(-100%);
}

.project-card__content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-card__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project-card__name {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .project-card {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .project-card {
    width: calc((100% - 60px) / 3);
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.social-list__link--grey-background-white-icons {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.footer__social-list {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__address-wrapper {
    flex-grow: 2;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
  .footer__address-wrapper {
    margin-right: 70px;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__location {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address__email,
.address__tel {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .address__list {
    margin-bottom: 60px;
  }
}

.join__text {
  margin-bottom: 20px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join {
    flex-grow: 2;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-right: 93px;
  }
}

.button {
  min-width: 200px;
  padding: 10px 28px 10px 29px;
  color: #ffffff;
  background: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background: #188ce8;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  border-radius: 50%;
  fill: #ffffff;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.sign__text {
  display: block;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.sign-form__input {
  padding: 15px 16px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2f303a;
}

@media screen and (max-width: 480px) {
  .sign-form__input {
    margin-bottom: 20px;
  }
}

.sign-form__input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign__button {
  display: inline-flex;
  align-items: center;
  fill: #ffffff;
}

.sign__icon {
  margin-left: 10px;
}

@media screen and (max-width: 480px) {
  .sign-form__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sign-form__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-form {
    display: flex;
  }
  .sign-form__input {
    width: 358px;
    margin-right: 12px;
  }
}
/*# sourceMappingURL=portfolio.css.map */