.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__container {
  @extend %container;
}

.clients__title {
  margin-top: 0px;
  margin-bottom: 30px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: $primary-title-color;
}

.clients__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;

  border-radius: 4px;

  fill: #afb1b8;

  transition: all 250ms $cubic;

  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}

@media screen and(max-width: 767px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
  }
  .clients__item:not(:nth-child(-n + 2)) {
    margin-top: 30px;
  }
  .clients__item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and(min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: calc((100% - 60px) / 3);

    &:not(:nth-child(-n + 3)) {
      margin-top: 30px;
    }

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
}

@media screen and(min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
