.our-projects {
  padding: 60px 0px;
}

.our-projects__container {
  @extend %container;
}

.our-projects__radio-buttons {
  margin-bottom: 40px;
}

.our-projects__title {
  @extend %visually-hidden;
}

@media screen and(min-width:1200px) {
  .our-projects {
    padding: 94px 0px;
  }
}
