.our-projects {
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-projects__container {
  @extend %container;
}

.our-projects__radio-buttons {
  margin-bottom: 40px;
}

.our-projects__title {
  @extend %visually-hidden;
}
