.footer {
  background-color: $footer-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  @extend %container;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.social-list__link--grey-background-white-icons {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.footer__social-list {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__address-wrapper {
    flex-grow: 2;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
  .footer__address-wrapper {
    margin-right: 70px;
  }
}
