.footer {
  background-color: $footer-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1140px) {
    width: 1140px;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.social-list__link--grey-background-white-icons {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.address__list {
  @extend %list;
  margin-bottom: 60px;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__location {
  text-decoration: none;

  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $text-white-color;
}

.address__email,
.address__tel {
  text-decoration: none;

  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.join__text {
  margin-bottom: 20px;
  display: block;
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer_social-list {
  margin-bottom: 60px;
}

.sign__text {
  display: block;

  margin-bottom: 20px;

  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $text-white-color;
}

.sign-form__input {
  margin-bottom: 20px;
  padding: 15px 16px;

  width: 100%;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: $footer-background-color;

  &::placeholder {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}

.sign__button {
  display: inline-flex;
  align-items: center;
  fill: #ffffff;
}

.sign__icon {
  margin-left: 10px;
}
