.contacts {
}
.contacts__list {
  @extend %list;
}
.contacts__item {
  display: flex;
}

.contacts__link {
  @extend %link;

  display: flex;
  align-items: center;

  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.02em;
  color: $primary-text-color;
  fill: currentColor;

  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }
}
.contacts__icon {
  transition: fill 250ms $cubic;
}

@media screen and (max-width: 767px) {
  .contacts__item {
    display: flex;
    justify-content: center;
  }

  .contacts__item:not(:last-child) {
    margin-bottom: 16px;
  }

  .contacts__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 767px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.166;
  }
  .contacts__icon {
    margin-right: 8px;
  }

  @media screen and (max-width: 1200px) {
    .contacts__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    display: flex;
  }
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
  .header_menu {
    align-items: baseline;
  }

  .contacts__link {
    font-size: 14px;
    line-height: 1.142;
  }
}
