.header {
  position: relative;
  top: 0;
  width: 100%;
  outline: #ececec solid 1px;
  background-color: $primary-white-color;
  z-index: 100;
}

.header__container {
  @extend %container;
}

@media screen and (max-width: 767px) {
  .header__mobile {
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }

  .header__button {
    background: transparent;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;

    &:hover {
      fill: $accent-color;
    }
    &:focus {
      fill: $accent-color;
    }
  }
  .header_menu.is-open {
    display: block;
  }

  .header__menu-icon-close {
    display: none;
    .header__button.is-open & {
      display: block;
    }
  }

  .header__menu-icon {
    display: block;
    .header__button.is-open & {
      display: none;
    }
  }
}

@media screen and (min-width: 767px) {
  .header__button {
    display: none;
  }

  .header__container {
    display: flex;
    align-items: baseline;
  }

  .header_menu {
    display: flex;
    align-items: center;
  }

  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}
