%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
// @extend %visually-hidden;

%container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1140px) {
    width: 1140px;
  }
}
// @extend %container;

%link {
  text-decoration: none;
}
// @extend %link;

%list {
  list-style: none;
  margin: 0;
  padding: 0;
}
// @extend %list;
